body {
    color: white;
    background: #9FC4F1 url(../images/marioworld.jpg) no-repeat;
    background-position: left bottom;
}
@font-face {
    font-family: supermariobro1;
    src: url(../fonts/supermariobros.ttf);
}
@font-face {
    font-family: supermariobrowii;
    src: url(../fonts/supermariobroswii.otf);
}
#container {
    background-color: transparent;
    width: 960px;
    margin: 0 auto;
}
.gameBoard {
    background: url(../images/gameborder.gif) no-repeat top left;
    width: 475px;
    height: 475px;
    border: 1px solid black;
    padding: 25px 0px 0px 25px;
    position: relative;
    left: 160px;
}
.boardContainer {
    position: relative;
    top: -160px;
    left: 70px;
}
.startScreen {
    background: url(../images/landscape.jpg) no-repeat top left;
}
.cell {
    display: inline-block;
    float: left;
    width: 150px;
    height: 150px;
    color: white;
    font-size: 130px;
    text-align: center;
    vertical-align: top;
    border-radius: 10px;
    font-family: supermariobro1;
    text-shadow: 1px 1px 2px black;
}
.rightLine {
    border-right: 3px solid rgba(183, 117, 12, 0.6);
}
.bottomLine {
    border-bottom: 3px solid rgba(183, 117, 12, 0.6);
}
.playerOne {
    position: relative;
    font-size: 30px;
    font-family: 'Dancing Script', cursive;
    margin-left: 88px;
}
.playerinfo {
    color: #CE9651;
    position: relative;
    font-size: 25px;
    font-family: 'Dancing Script', cursive;
    margin-left: 88px;
}
.montyHover {
    background: url(../images/monty1.png) no-repeat;
}
.clear {
    clear: both;
}
form {
    width: 600px;
    margin: 0 auto;
}
.faceOff {
    position: relative;
    left: 290px;
    height: 150px;
    top: 50px;
}
.pOne {
    float: left;
    margin-right: 10px;
    font-size: 40px;
    font-family: supermariobro1, sans-serif;
    text-shadow: 1px 1px 2px black;
}
.pTwo {
    float: left;
    margin-left: 20px;
    font-size: 25px;
    font-family: 'Raleway', sans-serif;
}
.playerName {
    color: #5DC2FF;
    text-shadow: 1px 1px 2px black;
    font-size: 40px;
    font-family: 'Dancing Script', cursive;
}
.playerID {
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
}
.output {
    color: #5DC2FF;
    text-shadow: 1px 1px 2px black;
    font-size: 40px;
    font-family: 'Dancing Script', cursive;
    position: relative;
    left: 250px;
}
.moledMonty {
    background: url(../images/moletime.gif) no-repeat;
    z-index: 12;
}
button {
    background: url(../images/resetbtn.gif) no-repeat;
    height: 47px;
    width: 75px;
    position: relative;
    border: none;
}
img {
    border-radius: 20px;
    position: absolute;
    left: 1214px;
    top: 711px
}
input {
    font-size: 15px;
    width: 223px;
}
h1 {
    text-align: center;
    color: white;
    text-shadow: 8px 8px 2px black;
    font-size: 90px;
    font-family: supermariobrowii, cursive;
    margin-bottom: -30px;
}
h2 {
    color: yellow;
}
.conClouds {
    z-index: 0;
}
/* ref http://thecodeplayer.com/walkthrough/pure-css3-animated-clouds-background */

.cloud {
    width: 200px;
    height: 60px;
    background: #fff;
    border-radius: 200px;
    -moz-border-radius: 200px;
    -webkit-border-radius: 200px;
    position: relative;
}
.cloud:before, .cloud:after {
    content: '';
    position: absolute;
    background: #fff;
    width: 100px;
    height: 80px;
    position: absolute;
    top: -15px;
    left: 10px;
    border-radius: 100px;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
    -moz-transform: rotate(30deg);
}
.cloud:after {
    width: 120px;
    height: 120px;
    top: -55px;
    left: auto;
    right: 15px;
}
.x2 {
    left: 200px;
    -webkit-transform: scale(0.6);
    -moz-transform: scale(0.6);
    transform: scale(0.6);
    opacity: 0.6;
    -webkit-animation: moveclouds 25s linear infinite;
    -moz-animation: moveclouds 25s linear infinite;
    -o-animation: moveclouds 25s linear infinite;
}
.x3 {
    left: -250px;
    top: -200px;
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0.8;
    -webkit-animation: moveclouds 20s linear infinite;
    -moz-animation: moveclouds 20s linear infinite;
    -o-animation: moveclouds 20s linear infinite;
}
.x4 {
    left: 470px;
    top: -250px;
    -webkit-transform: scale(0.75);
    -moz-transform: scale(0.75);
    transform: scale(0.75);
    opacity: 0.75;
    -webkit-animation: moveclouds 18s linear infinite;
    -moz-animation: moveclouds 18s linear infinite;
    -o-animation: moveclouds 18s linear infinite;
}
.x5 {
    left: -150px;
    top: -150px;
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0.8;
    -webkit-animation: moveclouds 20s linear infinite;
    -moz-animation: moveclouds 20s linear infinite;
    -o-animation: moveclouds 20s linear infinite;
}
@-webkit-keyframes moveclouds {
    0% {
        margin-left: 1000px;
    }
    100% {
        margin-left: -1000px;
    }
}
@-moz-keyframes moveclouds {
    0% {
        margin-left: 1000px;
    }
    100% {
        margin-left: -1000px;
    }
}
@-o-keyframes moveclouds {
    0% {
        margin-left: 1000px;
    }
    100% {
        margin-left: -1000px;
    }
}
