 <!DOCTYPE html>
<html ng-app="app">

<head>
    <title>Play the Game - Tic Tac Toe</title>
    <link rel="stylesheet" href="css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Dancing+Script:700,400' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Raleway:200' rel='stylesheet' type='text/css'>
    <script src="js/angular.js"></script>
    <script src="https://cdn.firebase.com/js/client/1.0.21/firebase.js"></script>
    <!-- AngularFire -->
    <script src="https://cdn.firebase.com/libs/angularfire/0.8.0/angularfire.min.js"></script>
    <script src="js/app.js"></script>
</head>

<body ng-controller="gameCtrl">
    <main>
        <div id="container">
            <div id="play" ng-hide="playerScreen">
                <h1>Tic Tac Moles</h1>
                <form name="playas">
                    <span class="playerOne">Player Name</span>
                    <input id="player1" ng-model="playerName">{{playerNumber}} {{gameBoard.currPlayer}}

                    <button class="btn btn-success" type="button" ng-click="addName()"><i class="icon-plus"></i>SUBMIT</button>
                </form>
                <div class="faceOff">
                    <div class="pOne">Player {{gameBoard.currPlayer+1}}'s move</div>
                    <div ng-model="results">{{gameBoard.results}}</div>

                </div>
            </div>
            <img ng-src="{{max}}">
            <div class="boardContainer" ng-hide="boardCont">
                <div class="gameBoard">
                    <div ng-repeat="cell in gameBoard.cells track by $index" ng-class="{cell: true, clear:($index % 3 === 0), rightLine: ($index % 3 != 2), bottomLine:($index <=5), montyHover: hover}" ng-mouseenter="hover =true" ng-mouseleave="hover =false" ng-click="switchPlayer($index)">{{ cell.mark }}</div>
                </div>
                <button ng-class="resetbtn" ng-click="gameBoard.gameInProgress=false">RESET<br> GAME</button>
            </div>
    </main>
</body>

</html>
