body {
	color: white;
	background: url(grassbg.jpg) repeat;
	
}

#container {
	background-color: transparent;
	width: 960px;
	margin: 0 auto;

}
.gameBoard {
	position: relative;
	left: 275px;
	top:50px;

}

.cell {
	/*background: url(dirt.jpg) center; */
	display: inline-block;
	float:left;
	width: 150px;
	height: 150px;
	color: white;
	font-size: 130px;
	text-align: center;
	vertical-align: top;
	border-radius: 20px;
}
 
 .onHover {
	background-color: green;
	
}

.rightLine {border-right: 3px solid black;}
.bottomLine {border-bottom: 3px solid black;}

.playerOne, .playerTwo {
	font-size: 30px;
	font-family: 'Dancing Script', cursive;
	margin-left: 30px;
}


.clear {
	clear:both;
}

form {
	width: 600px;
	margin: 0 auto;
}
.faceOff {
	position: relative;
	left: 350px;
	height: 150px;
	top: 50px;
}
.pOne{
	float: left;
	margin-left: 10px;
	margin-right: 10px;
	font-size: 25px;
	font-family: 'Raleway', sans-serif;
}
.vs{
	float: left;
	margin-left: 10px;
	margin-right: 10px;
	font-size: 25px;
	font-family: 'Dancing Script', cursive;
}
.pTwo {
	float: left;
	margin-left: 20px;
	font-size: 25px;
	font-family: 'Raleway', sans-serif;

} 
button {
	height: 40px;
	position: relative;
	left: 300px;
	top: 20px;
}
img {
	border-radius: 20px;
	position: relative;
	left: 340px;
}
input {
	font-size: 15px;
}
h1 { 
	text-align: center;
	color: white;
	font-size: 50px;
	font-family: 'Dancing Script', cursive;

}

h2 {
	color: yellow;
}
